<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Sign-up today</h3>

<!-- form to collect information to be posted-->
<!-- step 1 collect info-->
<div class="signup">
    <form action="post_user" method="POST">
        <input type="text" id="name-input" name="name" placeholder="your name here">
        <br>
        <input type="email" id="email-input" name="email" placeholder=" email?">
        <br>
        <input type="tel" id="phone-input" name="phone" placeholder=" phone number">
        <br>
        <input type="password" id="pw-input" name="password" placeholder="enter a password">
        <br>
        <input type="text" id="char-class" name="character_class" placeholer="type class">
        <br>
        <button type="submit"> Register</button>




        <p>There are 4 classes to choose from. Ranger, Mage, Warrior, and Bard. Discriptions and funtionalities soon
            coming</p>
</div>
</body>
</html>